<div class="modal-header">
    <h5 class="modal-title"></h5>
    <button type="button" onclick="CloseModal()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        <h4 class="text-center" style="position:relative; top:-2rem"><strong>Terms and Privacy Policy</strong></h4>
        <p>( regulation )</p>

        <strong>Dear users,</strong> we welcome you to Poco Panel and we hope that you will make the best use of the services. Due to the mediation of some of our services, the problem solving process becomes complicated and lengthy in some cases, as well as in all orders that may work. If it is not done for you or it is incompletely registered, the cost is non-refundable because Poco Panel will accept this cost and the provider will not return the amount to us so that we can refund your amount, and any errors and inaccuracies by you dear ones in registration. The order will be problematic only for you, so be careful in registering the order and read the description, if you do not receive enough information, you can tick or use online chat, ie if you do not have information, you are required to inquire You are one of our experts and you should be aware of these important issues, any incomplete order registration or closing of the page, network, site and related items will be entirely your responsibility and Poco Panel has no responsibility.
        <hr/>
        <p class="font-weight-600">Clause 1:</p>
        In order to register all orders, they should not register the order at the same time or change the idea, whether it is a post, a channel or a page, it should not be private under any title. We also deposit the order to the idea you register Your fee will not be refunded and all tips and explanations in the alerts section must be observed and their name and service must be careful enough, otherwise Poco Panel will not support any and the refund will not be made and in these cases Register an order at the same time or buy from another service or from another site, it is considered a simultaneous order and the complete work will not be done and the amount will be lost, because the order will have problems and will stop the operation and cause serious damage to the system. Our customers import, so dear customers must use with responsibility and observe all items.

        <p class="font-weight-600">Clause 2:</p>
        Any error on the part of the customer and not reading the description and not paying enough attention to the name of the service and choosing the wrong one by the customer, will cause a loss of cost, because non-compliance with the description of the service will cause disruption and in some cases We will lose, if you do not pay enough attention to the said points, your order will definitely not be made and the amount will be lost.

        <p class="font-weight-600">Clause 3:</p>
        If you mistakenly top up a large amount, or someone abuses your card, you can not request a refund to your card and bank account under any circumstances, and finally, your account balance in Poco Panel under no circumstances It is not a title that can be returned to real, physical, bank accounts, etc.

        <hr/>
        <h5 class="font-weight-600 text-center">General</h5>

        By placing an order with Pocopanel , you automatically accept all the below listed terms of service weather you read them or not.

        We reserve the right to change these terms of service without notice. You are expected to read all terms of service before placing any order to insure you are up to date with any changes or any future changes.

        You will only use the Pocopanel website in a manner which follows all agreements made with Instagram/Telegram/Other social media site on their individual Terms of Service page. Pocopanel rates are subject to change at any time without notice. The payment/refund policy stays in effect in the case of rate changes. Pocopanel does not guarantee a delivery time for any services. We offer our best estimation for when the order will be delivered. This is only an estimation and Pocopanel will not refund orders that are processing if you feel they are taking too long. Pocopanel tries hard to deliver exactly what is expected from us by our re-sellers. In this case, we reserve the right to change a service type if we deem it necessary to complete an order.

        <p class="font-weight-600">Disclaimer:</p>
        Pocopanel will not be responsible for any damages you or your business may suffer.

        <p class="font-weight-600">Liabilities:</p>
        Pocopanel is in no way liable for any account suspension or picture deletion done by Instagram or eita or bale or aparat or Other Social Media.

        <hr/>
        <h5 class="font-weight-600 text-center">Service</h5>

        Pocopanel is only used to promote your Instagram / Telegram or social media account and help boost your "appearance and sales".

        In some services we do not guarantee that your new followers will interact with you, in some services we only guarantee that you will get the followers you pay for.

        We do not guarantee that 100% of our accounts will have a profile picture, full CV and uploaded images, although we will endeavor to make this a reality for all accounts.

        You will not upload anything on the Pocopanel site, including nudity or content that is not accepted or appropriate for the Instagram / Telegram social media community.

        Services will not be provided for immoral, political channels, predictions and betting channels, suspected theft channels, prayer and spell channels, and channels related to violations of the laws of the Islamic Republic.

        <p class="font-weight-600">Refund policy</p>

        No refunds will be made on your payment method. Once the deposit is completed, there is no way to return it. You must use your inventory in Pocopanel orders.

        You agree that upon completion of the payment, you will not raise any objections or refunds against us for any reason.

        If you object, object or refund us after deposit, we reserve the right to terminate all subsequent orders, barring you from our site.

        Orders registered with Pocopanel will not be refunded or canceled after registration. If the order is not deliverable, you will refund the credit to your pocopanel account.

        Misplaced orders or private accounts are not eligible for a refund. Be sure to confirm each order before registering.

        Fraudulent activities such as the use of unauthorized or stolen credit cards can lead to the termination of your account. There are no exceptions.
    </p>
</div>