@model GetProductDetailViewModel

<div class="modal-header">
    <h5 class="modal-title">Edite Service</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="ProductForm" method="POST" class="needs-validation">
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm-12 col-md-6">
                <input asp-for="Id" hidden />
                <input asp-for="IsDelete" hidden />

                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name"
                           class="form-control"
                           autofocus />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title"
                           class="form-control" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Price"></label>
                    <input asp-for="Price"
                           disabled
                           class="form-control" />
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-6">
                        <label asp-for="Min"></label>
                        <input asp-for="Min"
                               class="form-control" />
                        <span asp-validation-for="Min"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Max"></label>
                        <input asp-for="Max"
                               class="form-control" />
                        <span asp-validation-for="Max"></span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Decending"></label>
                    <input asp-for="Decending"
                           class="form-control" />
                    <span asp-validation-for="Decending"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label" asp-for="QualityId"></label>
                    <div class="selectgroup w-100">
                        @if (Model?.tblQuality != null)
                            @foreach (var qualityItem in Model?.tblQuality)
                            {
                                <label class="selectgroup-item">
                                    <input type="radio" class="selectgroup-input" value=@qualityItem.Value asp-for="QualityId">
                                    <span class="selectgroup-button">@qualityItem.Text</span>
                                </label>
                            }
                        <span asp-validation-for="QualityId"></span>
                    </div>

                </div>
                <div class="form-group mb-3">
                    <label asp-for="ProductKind"></label>
                    <div class="form-group">
                        <div class="mb-2">
                            <select id="KindParent" class="form-control selectric" asp-for="ProductParentKind" asp-items="Model.tblProductKindParent"></select>
                        </div>
                        <div>
                            <select id="KindChild" class="form-control @*selectric*@" asp-for="ProductKind"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div dir="rtl" class="form-group col-sm-12 col-md-6">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"
                          class="summernote-simple"
                          style="height: 50vh !important; text-align: right;">
                @Model.Description
                </textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-whitesmoke br">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

@*JS Libraies*@
<script src="~/js/summernote-bs4.min.js"></script>
<script src="~/js/codemirror.js"></script>
<script src="~/js/javascript.js"></script>
<script src="~/js/jquery.selectric.min.js"></script>
@*Template JS File*@
<script src="~/js/scripts.js"></script>
<script src="~/js/custom.js"></script>

<script type="text/javascript">
    // Load Product Parent & Child
    function LoadKindChild() {
        var selectedKindParent = $("#KindParent").val();
        var selectedKindChild = $('#KindChild');
        var listKindChild = @Html.Raw(Json.Serialize(@Model.tblProductKindChild));

        selectedKindChild.empty();

        $.each(listKindChild, function () {
            if (this.parent == selectedKindParent) {
            selectedKindChild.append($("<option></option>").val(this.value).html(this.text));
            }
        });
    }
    $('#KindParent').on('change', LoadKindChild);

    // check Product Model State is valid
    $("#ProductForm").submit(function (event) {
        event.preventDefault();
        ShowLoader();

        $.ajax({
            url: "/Admin/Panel/EditeProductAPI",
            type: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            datatype: JSON,
            data: $('form').serialize(),
            success: function (data) {
                swal('سرویس موفقیت ویرایش شد', {
                    icon: 'success',
                })
                    .then(() => {
                        $("#ProductDetailModal").modal("hide");
                        location.reload();
                    });
            },
            error: function (data) {
                HideLoader();
                swal('خطا در ثبت درخواست', data.responseJSON.value, 'error');
            },
            complete: function (data) { HideLoader(); }
        });
    });

</script>

<script src="~/js/jquery.validate.min.js"></script>