@model PocoPanel.Application.DTOs.Account.ActiveAccountModel

<div style="padding: 20px">
    <h2>Dear @Model.FullName !</h2>
    <p>Thank you for join PocoPanel Community for continue the process please Active your Account by click the link blow.</p>
    <p>
        <a href="@Model.ActiveLink">Active Account Link</a>
    </p>
    <p>_________________________________________</p>
    <h3>https://www.PocoPanel.ir</h3>
</div>
