@model PocoPanel.Application.DTOs.Account.ResetPasswordModel

<html>
<body>
    <div style="padding: 20px">
        <p>Please change your Account password by click the link blow.</p>
        <form method="post" action="@Model.Url">
            <input type="text" style="display: none;" id="tokenCode" name="tokenCode" value="@Model.Token">
            <button type="submit">Reset Account Password Link</button>
        </form>


        <p>_________________________________________</p>
        <h3>https://www.PocoPanel.ir</h3>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</body>
</html>
